<!DOCTYPE html>
<html>
  <head>
    <title>Music player</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>

    <div class="container">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#play" aria-controls="play" role="tab" data-toggle="tab">Play</a></li>
        <li role="presentation"><a href="#download" aria-controls="download" role="tab" data-toggle="tab">Download</a></li>
        <li role="presentation"><a href="#addPlaylist" aria-controls="addPlaylist" role="tab" data-toggle="tab">AddPlaylist</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="play">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <button type="button" class="btn btn-default" id="scan-button">Scan</button>
                <div class="list-group" id="playlists">
                </div>
              </div>
              <div class="col-md-6">
                <div id="player1" class="aplayer"></div>
              </div>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="download">
          <form>
            <div class="form-group">
              <label for="url">URL</label>
              <input type="text" class="form-control" id="url">
            </div>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name">
            </div>
            <div class="form-group">
              <label for="playlistName">Playlist</label>
              <select class="form-control" id="playlistName">
              </select>
            </div>
            <button type="button" class="btn btn-default" id="download-button">Download</button>
          </form>
          <div class="message"></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="addPlaylist">
          <form>
            <div class="form-group">
              <label for="plname">Playlist name</label>
              <input type="text" class="form-control" id="plname">
            </div>
            <button type="button" class="btn btn-default" id="add-playlist-button">Add</button>
          </form>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.5.8/APlayer.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script src="static/js/main.js"></script>
  </body>
</html>
